*{
  margin: 0;
  padding: 0;
}

.header{
  background-blend-mode: darken, luminosity;
  color: white;
  background-image: url(./img/mapa.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
}

.header > h1 { 
  font-family: 'Caveat', cursive;
  font-size: 100px;
  font-weight: normal;
  padding-top: 3%;
  text-align: center;
}

.header > p{
  font-family: 'Caveat', cursive;
  font-size: 40px;
  text-align: center;
}

